.header{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: bold;
    color:#424874;
}

.header span{
    margin-left: 10px;
    font-weight: bold;
    color: #112D4E;
}